@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Video Rental System</h1>
    <p>Your one stop shop for movies</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p><u>About Us</u></p>
        <p><u>Affiliates</u></p>
        <p><u>Contact us</u></p>
        <p><u>Terms & Conditions</u></p>
        <p><u>Privacy Policy</u></p>

    </div>
    <div class="col-md-4">
        <h2>Rentals</h2>
        <p><u>Comedy</u></p>
        <p><u>Horro</u></p>
        <p><u>Triller</u></p>
        <p><u>Action</u></p>
        <p><u>News</u></p>
    </div>
    <div class="col-md-4">
        <h2>Help and Support</h2>
        <p><u>Subscrition</u></p>
        <p><u>Get in touch</u></p>
    </div>
</div>